@font-face {
    font-family: "VolaroidSan";
    src: url("../public/font/Volaroid-san.otf");
}

@font-face {
    font-family: "Volaroid-script";
    src: url("../public/font/Volaroid-Script.ttf");
}
