@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("./font.css");

:root {
  color-scheme: dark;

  --dark-main: #121212;
  --dark-nav: rgba(12, 12, 12, 0.95);
  --dark-link-text-hover: rgba(255, 255, 255, 0.6);
  --dark-link-background-hover: #2a2a2a;
  --dark-layout-cover: rgba(18, 18, 18, 0.7);
  --dark-text: #ffff;
  --dark-social-footer: rgba(255, 255, 255, 0.4);
  --dark-dropdown-background: rgba(15, 15, 15, 1);
  --dark-quizheader-border: rgba(255, 255, 255, 0.5);
  --dark-quizcard-border: rgba(255, 255, 255, 0.5);
  --dark-quizcard-background: rgba(18, 18, 18, 0.95);
  --dark-quizcard-background-hover: #1e1e1e;
  --dark-quizcard-description: rgba(255, 255, 255, 0.75);
  --dark-button-active: rgb(140, 135, 42);
  --dark-button-border-active: rgb(224, 216, 68);
  --dark-background-primary: rgba(15, 15, 15, 0.95);
  --dark-background-secondary: rgba(12, 12, 12, 0.95);
  --dark-background-quiz-card-menu-button: rgba(12, 12, 12, 0.4);
  --dark-background-quiz-card-menu-button-hover: rgba(12, 12, 12, 0.7);

  /* Was gotten from mui pallete as dark version of states of buttons */
  --button-success-disabled: #388e3c;
  --button-info-disabled: #0288d1;
  --button-primary-disabled: #42a5f5;
  --button-secondary-disabled: #ab47bc;
  --button-error-disabled: #d32f2f;
  --button-warning-disabled: #f57c00;
  /* font sizes */
  --desktop-smallest-text-size: 12px;
  --desktop-detail-text-size: 14px;
  --desktop-body-text-size: 18px;
  --desktop-title-text-size: 24px;
  --desktop-main-text-size: 32px;
  --desktop-display-text-size: 60px;
}

html,
body {
  height: 100%;
}

body {
  background: linear-gradient(var(--dark-layout-cover), var(--dark-layout-cover)),
    url("/public/dark-main-background.png");
  background-size: cover;
  background-attachment: fixed;
}

#root {
  height: 100%;
}

.full-layout {
  display: grid;
  grid-template-rows: 50px 1fr 100px;
  height: 100%;
}

.nav-layout {
  display: grid;
  grid-template-rows: 50px 1fr;
  height: 100%;
}

/* TEMPORARY FOR MAIN PAGE */
/* .main-page-layout {
  height: 84.6vh;
} */
